---
import Item from '../../components/Item.astro';
import List from '../../components/List.astro';
import AboutLayout from '../../layouts/AboutLayout.astro';
import { Icon } from 'astro-icon/components';
---

<AboutLayout title="About me" color="text-warning-400">
  <Icon name="mdi:search" slot="icon" />
  <List>
    <Item id="名前" value="Mori" />
    <Item id="年齢" value="16" />
    <Item id="誕生日" value="2007/12/18" />
    <Item id="言語" value="Python・JavaScript・TypeScript・Java" />
    <Item id="ツール" value="WSL2,macOs,Neovim" />
  </List>
  <div
    class="container mt-8 grid h-[600px] grid-cols-1 place-items-center items-center justify-center gap-1 md:h-[400px] md:grid-cols-2 lg:h-[200px] lg:grid-cols-3"
  >
    <div class="relative h-[150px] rounded-sm">
      <img
        alt="Top Langs"
        src="https://github-readme-stats.vercel.app/api?username=moriyoshi-kasuga&theme=onedark&show_icons=true"
        class="object-fit aspect-auto h-[150px]"
        height="100%"
      />
    </div>

    <div
      class="relative order-none h-[200px] rounded-sm md:order-1 md:max-lg:col-span-2 lg:order-none"
    >
      <img
        alt="Top Langs"
        src="https://github-readme-stats.vercel.app/api/top-langs/?username=moriyoshi-kasuga&layout=compact&show_icons=true&theme=onedark"
        class="object-fit aspect-auto h-[200px]"
        height="100%"
      />
    </div>

    <div class="relative h-[150px] rounded-sm">
      <img
        alt="github stats"
        src="https://github-readme-streak-stats.herokuapp.com?user=moriyoshi-kasuga&theme=onedark"
        class="object-fit aspect-auto h-[150px]"
        height="100%"
      />
    </div>
  </div>
</AboutLayout>
