---
import AboutLayout from '@layouts/AboutLayout.astro';
import { Icon } from 'astro-icon/components';
import { type Skill } from '../../type';
const skills = await Astro.glob<Skill>('../../static/skill/*.md');
---

<AboutLayout title="Skill" color="text-primary-300">
  <Icon name="mdi:computer" slot="icon" />
  <p class="text-center text-2xl">
    完全に自分の主観でどれぐらい理解できるかを図で表しています
  </p>
  <div class="container my-4 flex flex-wrap items-center justify-center">
    {
      skills.map(skill => {
        return (
          <div class="mb-12 flex w-full items-center max-lg:flex-col md:w-1/2">
            <div
              class="techStack relative flex aspect-square w-1/2 items-center justify-center rounded-full font-monospace"
              style={{
                ['--learn' as string]: skill.frontmatter.learn,
              }}
            >
              <h3 class="text-2xl font-semibold">{skill.frontmatter.title}</h3>
              <p class="absolute top-[30%] -translate-y-1/2 text-xl font-semibold">
                {skill.frontmatter.learn}%
              </p>
            </div>
            <div class="jusify-center flex w-4/5 flex-col items-center px-4 py-2">
              <p class="my-auto font-medium">
                <skill.Content />
              </p>
            </div>
          </div>
        );
      })
    }
  </div>
</AboutLayout>
<style>
  @keyframes show {
    0% {
      --percent: 0;
    }

    10% {
      --percent: calc(var(--learn) / 10);
    }

    20% {
      --percent: calc(var(--learn) / 5);
    }

    30% {
      --percent: calc(var(--learn) / 4);
    }

    40% {
      --percent: calc(var(--learn) / 3);
    }

    50% {
      --percent: calc(var(--learn) / 2);
    }

    60% {
      --percent: calc(var(--learn) / 1.5);
    }

    70% {
      --percent: calc(var(--learn) / 1.2);
    }

    80% {
      --percent: calc(var(--learn) / 1.1);
    }

    90% {
      --percent: calc(var(--learn) / 1.05);
    }

    to {
      --percent: var(--learn);
    }
  }

  .techStack {
    --learn: 0;
    --percent: 0;
    animation: show 1s forwards;
    background-image: conic-gradient(
      #99c7fb,
      #99c7fb calc(var(--percent) * 1%),
      #71717a calc(var(--percent) * 1.01%) 100%
    );
  }
</style>
