<footer
  class="relative h-[var(--footer-height)] w-full bg-zinc-900 py-2 text-zinc-100"
>
  <div class="container mx-auto">
    <span class="text-center">© 2024 moriyoshi-kasuga</span>
  </div>
</footer>
