---
interface Props {
  url: string;
  self?: boolean;
  class?: string;
}

const { url, self, class: className } = Astro.props;
---

<a
  href={url}
  target={self ? '_self' : '_blank'}
  class:list={[
    'flex items-center gap-2 rounded-lg bg-zinc-800 p-2 text-2xl text-white transition-transform hover:scale-105',
    className,
  ]}
>
  <slot name="icon" />
  <span class="font-medium text-zinc-100"><slot /></span>
</a>
