---
interface Props {
  href?: string;
  id: string;
  value: string;
}

const { href, id, value } = Astro.props;
---

<div class="flex w-full items-center gap-x-2">
  <h2 class="font-mono-jp w-1/3 text-right text-2xl font-bold md:w-1/2">
    {id}
  </h2>
  {
    href ? (
      <a
        href={href}
        class="link-style font-mono-jp w-2/3 break-words text-left text-xl font-semibold md:w-1/2"
        target="_blank"
      >
        {value}
      </a>
    ) : (
      <p class="font-mono-jp w-2/3 break-words text-left text-xl font-semibold md:w-1/2">
        {value}
      </p>
    )
  }
</div>
