---
interface Props {
  url?: string;
  title?: string;
}

const { url, title } = Astro.props;
---

{
  (url && (
    <a
      href={url}
      class="btn ring-2 ring-black hover:text-white"
      target="_blank"
    >
      {title}
      <slot />
    </a>
  )) || (
    <div class="base-btn cursor-not-allowed bg-gray-400 line-through">
      {title}
      <slot />
    </div>
  )
}
